body {
  font: normal 18px/1.5 "Helvetica Neue", sans-serif;
}
/*
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-001.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-002.jpg

https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-004.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-005.jpg
*/

.flex-wrapper {
  display: flex;
  height: 100vh;
}

.flex-wrapper a {
  flex: 1;
  transition: flex 0.35s;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;    /* OR center center; */
  background-size: cover;         /* 영역보다 배경이미지가 작을경우 전체영역을 커버하도록 함 */
}
.flex-wrapper a.one {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-001.jpg);
}
.flex-wrapper a.two {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-002.jpg);
}
.flex-wrapper a.three {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-003.jpg);
}
.flex-wrapper a.four {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-004.jpg);
}
.flex-wrapper a.five {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-005.jpg);
}
.flex-wrapper a:hover {
  flex: 3;
}
.flex-wrapper .overlay {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;     /* overlay 가 부모영역을 다채우게 하기위해서 */
  padding: 0 10px;
  transition: background 0.35s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrapper a:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}
.overlay-inner  * {
  opacity: 0;
  color: #fff;
  text-align: center;
  transition: 0.4s 0.3s;     /* duration delay */
}
.overlay-inner h2 {
  transform: translateY(-60px);
}
.overlay-inner p {
  transform: translateY(60px);
}
.flex-wrapper a:hover .overlay-inner * {
  transform: none;
  opacity: 1;
}
.flex-wrapper a:not(:hover) .overlay-inner * {
  opacity: 0;
  transition: none;
}

@media screen and (max-width: 800px) {
  /* 800px 이하에서도 모든 효과유지하면서 배열맞추기 */
  /*
  .flex-wrapper {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  */

  /* 800px 이하에서는 모든 효과없애고 배열만 맞추기 */
  .flex-wrapper {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .flex-wrapper a:hover {flex: 1;}
  .flex-wrapper a:hover .overlay {background: none;}
  .flex-wrapper a:not(:hover) .overlay-inner * {opacity: 1; transform: none;}
}

@media (max-width: 480px) {
  .flex-wrapper .overlay-inner * {font-size: 5vw;}
}